:root {
  --font-family: 'Inter', 'sans-serif';
  --font-size: ;
  --background-color: #f7faff;
  --color: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.jeu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: #fbfbfb;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}

.cell:hover {
  background: #f0f0f0;
}
